*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;;
    font-size: 2rem;
    font-weight: 600;
}


#navbar {
    position: relative;
    display: flex;
    gap: 13rem;
    width: 100%;
    background-color:rgba(240, 248, 255, 0.185);
    height: 8%;
}
#config{
    position: relative;
    left: 1rem;
    align-self: center;
}
#config span i{
    font-size: 1.25rem;
}

#inicio {
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#barra-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#barra-inicio span{
    padding-right: 10px;
    height: 1.5rem;
    background-color: rgba(253, 47, 47, 0.623);
    margin: 5px;
    border-right: 2px solid white;
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.5s;
}
#barra-inicio span:hover {
    cursor: pointer;
    scale: 1.05;
}

#barra-inicio span:last-child {
    border: none;
}



#sidebar {
    right: 0;
    background-color:rgba(0, 0, 0, 0.274);
    position: absolute;
    height: 100vh;
    width: 5%;
    
}

#amigos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    justify-self: center;
    top: 10%;
}
.img-amigos {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.75rem;
    background-color: azure;
}


#main {
    display: flex;
    justify-content: space-around;
    background-image: url('/src/img/telainicio.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    transition: all 1s;
    background-position: center;
    width: 100%;
}
#container {
    margin-top: 2.5rem;
    display: none;
    /* background-color: rgb(49, 197, 49); */
    width: 90%;
    height: 100px;
}

.mapas {
    position: relative;
    display: flex;
    /* background-color: black; */
    width: 45%;
    justify-content: center;
   
}


.mapas_2 {
    position: relative;
    display: flex;
    /* background-color: blueviolet; */
    width: 45%;
    justify-content: center;
}

#timer {
    display: flex;
    background-color: rgba(19, 18, 14, 0.363);
    width: 10%;
    justify-content: center;
    align-items: center;
}

.profiles {
    width: 150px;
    height: 100px;
    padding: 2px;
    transition: all 1s;
}
.img-mapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profiles:hover {
    cursor: pointer;
    scale: 1.5;
}

#restart {
    position: absolute;
    justify-self: center;
    align-self: center;
    display: none;
}

#restart button {
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s;
}

#restart button:hover {
    background-color: rgb(82, 199, 82);
}