*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 600;
}

#main {
    display: flex;
    justify-content: space-around;
    background-image: url('/src/img/telainicio.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    transition: all 1s;
    background-position: center;
}
#container {
    margin-top: 2.5rem;
    display: flex;
    /* background-color: rgb(49, 197, 49); */
    width: 90%;
    height: 100px;
}

.mapas {
    position: relative;
    display: flex;
    /* background-color: black; */
    width: 45%;
    justify-content: center;
   
}


.mapas_2 {
    position: relative;
    display: flex;
    /* background-color: blueviolet; */
    width: 45%;
    justify-content: center;
}

#timer {
    display: flex;
    background-color: blue;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.profiles {
    width: 150px;
    height: 100px;
    padding: 2px;
    transition: all 1s;
}
.img-mapa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profiles:hover {
    cursor: pointer;
    scale: 1.5;
}

#restart {
    position: absolute;
    justify-self: center;
    align-self: center;
    display: none;
}

#restart button {
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s;
}

#restart button:hover {
    background-color: rgb(82, 199, 82);
}